/* body{background-color: rgb(233, 89, 89);}
.app-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-container{
  width: 250px;
  border: 1px solid rgb(39, 7, 7);
  background-color: coral;
}
.movie-container img{
  max-width: 100%;
}
.movie-info{
  margin: 10px;
}
.movie-info span{
  margin-left: 200px;
}
.bottomBtn{
  width: 200px;
  height: 50px;
  background-color: blueviolet;
  color: white;
}
.bottomBtn:disabled{
  background-color: gray;
} */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus{
  outline: none;
}
.page{
  width: 300px;
  height: auto;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgb(200, 196, 196);
  margin: 20px auto;
}
.titleWrap{
  text-align: center;
  font-size: 1.2rem;
  padding: 30px;
}

.inputWrap > input,.buttonBtn{
  width: 80%;
  height: 35px;
  display: block;
  border: none;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: rgb(200, 196, 196);

}
input::placeholder{
  color: #fff;
}
input:focus,.buttonBtn:hover{
  background-color: white;
  color: black;
}
input:focus::placeholder,.buttonBtn:hover{
  color: black;
}
.errMessage{
  color: rgb(228, 93, 93);
  font-size: .7rem;
  text-align: center;
}
.buttonBtn{
  color: #fff;
  cursor: pointer;
  width: auto;
  padding: 0 20px;
  margin: 30px auto 0;
}
.newAccount{
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: gray;
  display: block;
  margin: 30px auto;
}
.newAccount:hover{
  color: black;
  cursor: pointer;
}
