*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.hidden{
    display: none;
}
#toDoForm{
    text-align: end;
}
#toDos{
    width: 18rem;
    margin: .5rem;
    padding: .8rem;
    opacity: 0.7;
    border-radius: .5rem;
    border: 0;
}
#list-container{
    width: 100%;
    background: rgba(0,0,0,.7);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 120%;
    left: 0;
    transition: all .2s linear;
    z-index: 1;
}
#list-container.active{
    top: 100px;
}

#list-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width: 50rem;
    z-index: 1000;

}
#list-container form h3{
    text-align: center;
    margin-bottom: 2rem;
}
#list-container #form-close{
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;

}

#todo-list{
    position: relative;
    text-align: center;
    list-style: none;
    padding: 0;
}
#todo-list li span{
margin: 2rem;
font-size: 1.6rem;
}
#todo-list li button{
position: absolute;
right: 1rem;
padding: .2rem;
}
#hello{
    text-align: center;
    
}
#hello input{
    text-align: center;
    padding: 1rem;
    /* background-color: rgba(0,0,0,.7); */
    opacity: 0.7;
    border-radius: .5rem;
    width: 20rem;
    border: 0;
    margin-top: 15vh;
}
#nicName{
    text-align: center;
    padding: 2rem;
    border: 0;
    margin-top: 15vh;
    font-size: 2rem;
    text-transform:capitalize;
    color: #fff;

}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: .2rem;
    margin-top: 4rem;
    align-items: center;
}
.container .weatherBox{
    font-size: 3rem;
    color: #fff;
    margin-right: 7rem;
}
.container .times{
    color: #fff;
    font-size: 4.5rem;
}
img{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1000;
}